<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new USer</title>
</head>
<body>
  <form action="/user" method="post">
    <textarea name="username" placeholder="enter username"></textarea>
    <textarea name="email" placeholder="enter email"></textarea>
    <input type="password" placeholder="enter password" name="password">
    <button >Submit</button>
  </form>
</body>
</html>